@keyframes loadAnimation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

HTML {
    --textColor: rgb(225, 225, 255);
    --fc: rgb(135, 206, 235);
    --fontSize: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fontSize);
    line-break: loose;
    letter-spacing: 0.15rem;
    line-height: 1;
    scroll-behavior: smooth;
}

BODY {
    position: relative;
    color: var(--textColor);
    background: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}

:focus {
    outline: 2px solid var(--fc);
    ;
    outline-offset: 0.1rem;
}

INPUT[type="search"],
INPUT[type="text"] {
    border: none;
    padding: 0 2rem;
}

IMG {
    display: block;
}

A {
    background: none;
    text-decoration: none;
    color: inherit;

    &:visited,
    &:focus,
    &:active {
        color: unset;
    }
}

UL {
    list-style: none;
}

BUTTON {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

SVG {
    height: 100%;
    width: auto;
}

.line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.answer {
    font-weight: 200;
    color: var(--textColor);
}

.accent {
    color: var(--fc);
}

.title {
    color: var(--textColor);
    text-align: center;
    font-size: 5rem;
    margin: 2rem .25rem;
    padding: 0 2rem;
}

.disclaimer {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.4;
    padding: 0 2rem;
}

.extra_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 4rem;
    fill: rgb(166, 166, 166);
    transition: fill 500ms ease-in-out;

    &:hover,
    &:active,
    &:focus {
        fill: rgb(185, 29, 29);
    }
}

.action_btn {
    position: fixed;
    bottom: 2rem;
    background: rgb(245, 245, 245, .8);
    border-radius: 50%;

}

.refresh_btn {
    padding: .5rem;
    left: 2rem;
}

.up_btn {
    right: 2rem;
}

.search_btn {
    padding: 0 2rem;
    background: var(--fc);
}

.search_input {
    min-width: 3rem;
}

.search_input,
.search_btn {
    display: block;
    height: 3rem;
    border-radius: .5rem;
    ;
}

.search_nav {
    width: 100%;
    padding: 0 4rem;
}

.card {
    position: relative;
    width: 100%;
    height: 240px;
    color: rgb(240, 240, 240);
    font-size: 1.4rem;
    ;
    border-radius: 1rem;
    overflow: hidden;
    line-height: 1.8rem;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }

    .card_info_container {
        position: relative;
        padding: 1rem;
        width: 100%;
        height: 100%;
        background: rgb(70, 70, 70, .6);

        h3,
        span {
            font-weight: 400;
        }

        .card_subtitle {
            margin-top: 0.75rem;
        }

        .card_id {
            span {
                margin-left: 0.5rem;
            }
        }

        .answer {
            color: rgb(250, 250, 250);
            text-shadow: 1px 1px 1rem rgb(20, 20, 20);
        }

        .info_btn {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 2rem;
            background: var(--fc);
            color: rgb(10, 10, 10);
            font-size: 1.2rem;
            font-weight: 600;
            border-radius: 1rem;
            width: calc(100% - 2rem);
            margin-top: 1rem;
        }


    }
}

.modal_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(5, 5, 5);
    max-width: 90%;
    max-height: 80%;
    border-radius: 1rem;
    overflow-y: auto;

    .close_btn {
        position: absolute;
        top: 0;
        right: 0;
        padding: .5rem;
    }

    .modal_content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        font-size: 2rem;
        padding: 2rem;



        .status_container {
            width: auto;
        }

        h2 {
            font-weight: 400;
            color: var(--fc);
            font-size: 1em;
            margin-bottom: .5rem;
        }

        IMG {
            border-radius: 50%;
        }

        .data_container {
            display: flex;
            flex-direction: row;
            justify-content: space-start;
            align-items: flex-start;
            gap: 1rem;
            margin-bottom: 2rem;

        }
    }

}

.nav_container {
    background: rgb(25, 25, 25);
    padding: 1rem 0;
}

.status_container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    height: 2rem;
    width: 100%;

    .status {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ccc;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
    }
}

.input_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding: 0 4rem 2rem;
}

.error_msg_container {
    display: none;
    background: red;
    padding: 2rem 0;

    SPAN {
        display: block;
        font-size: var(--fontSizeN);
        text-align: center;
    }
}

.item_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    column-gap: 1.5rem;
    row-gap: 2rem;
    justify-content: center;
    padding: 0 4rem;
    width: 100%;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(250, 250, 250, .70);
    z-index: 1000;
    opacity: 0;
    display: none;
    transition: opacity 750ms ease-in-out;
}

.target {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
    height: 20rem;
    width: 100%;
    color: white;

    .load {
        display: inline-block;
        border-radius: 50%;
        border-bottom: dotted 0.5rem #ccc;
        width: 5rem;
        height: 5rem;
        animation: loadAnimation 2s ease 0s infinite forwards;
    }

    .loading_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.wrapper {
    position: relative;
    padding-bottom: 4rem;
}